@model CategoryListViewModel

@section Scripts {

    <script type="text/javascript" src="~/js/categoryFunctions.js"></script>
    <script type="text/javascript" src="~/js/boardFunctions.js"></script>

}

<div class="row board-list-container">
    <div class="board-list">
        @foreach (var category in Model.Categories.OrderBy(x => x.Id))
        {
            <div class="category-container">
                <div class="category user-select-none" data-id="@category.Id">
                    <span class="fas fa-folder"></span>
                    <input class="category-name" value="@category.Name" data-name="@category.Name" placeholder="Kategória neve..." />
                    <div class="category-icon-delete">
                        <span class="fas fa-trash"></span>
                    </div>
                </div>
                <ul>
                    @foreach (var board in category.Boards)
                    {
                        <li>
                            <div class="board-list-item user-select-none" data-id="@board.Id">
                                <div class="board-icons">
                                    <div class="board-icon-delete" onclick="removeBoard(this)">
                                        <span class="fas fa-times"></span>
                                    </div>
                                </div>
                                <a href="@Url.Action(nameof(BoardController.Board), "Board", new { id = board.Id })">
                                    <div class="board-title">
                                        @board.Name
                                    </div>
                                </a>
                            </div>
                        </li>
                    }
                    <li>
                        <div class="board-list-item board-list-item-new user-select-none">
                            <a href="@Url.Action(nameof(BoardController.New), "Board", new { categoryId = category.Id })">
                                <div class="board-title board-new">
                                    Új tábla
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        }


        <div class="category category-new-container muted user-select-none">
            <div class="category-new-input-container">
                <input class="category-new-input" placeholder="Kategória neve..." maxlength="255" />
                <div class="category-new-control">
                    <a class="btn btn-save" onclick="addNewCategory()">Mentés</a>
                    <div class="cardlist-icon-cancel muted" onclick="toggleNewCategoryWindow()">
                        <span class="fas fa-times"></span>
                    </div>
                </div>
            </div>

            <div class="category-new" onclick="toggleNewCategoryWindow()">
                <span class="fas fa-plus"></span>
                Új kategória hozzáadása
            </div>
        </div>
    </div>
</div>

<partial name="_Templates" />