@model CategoryListViewModel

@section Scripts {

    <script type="text/javascript">

        $(document).on('click', '.category-new', function () {
            $.post('@Url.Action(nameof(CategoryController.AddNewCategory), "Category")', {
                categoryName: 'TEST_CATEGORY'
            }).done(function (data) {
                if (data.success) {
                    console.log(data.category);
                }
            });
        }); 

    </script>

}

<div class="row board-list-container">
    @foreach (var category in Model.Categories.OrderBy(x => x.ModificationDate))
    {
        <div class="board-list">
            <div class="category">
                <span class="fas fa-hashtag"></span>
                @category.Name
            </div>
            <ul>
                @foreach (var board in category.Boards)
                {
                    <li>
                        <div class="board-list-item">
                            <a href="@Url.Action(nameof(BoardController.Board), "Board", new { id = board.Id })">
                                <div class="board-title">
                                    @board.Name
                                </div>
                            </a>
                        </div>
                    </li>
                }
                <li>
                    <div class="board-list-item board-list-item-new">
                        <a href="@Url.Action(nameof(BoardController.New), "Board")">
                            <div class="board-title board-new">
                                Új tábla létrehozása...
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    }

    <a class="category-new">
        <span class="fas fa-times"></span>
        Új kategória hozzáadása
    </a>
</div>
